@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;800&display=swap");
.contact {
  background-color: #e5dfdf;
  padding: 50px 0px;
  font-family: "Source Sans 3", sans-serif;
}
.contact .contact-main-info {
  width: 70%;
  margin: 10px auto;
  max-width: 850px;
  text-align: center;
}
.contact .contact-main-info .contact-title {
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3rem;
  color: #111;
  border-bottom: 3px solid #aa0000;
  display: inline-block;
  width: auto;
}
.contact .contact-main-info .contact-p {
  text-align: center;
  color: #555;
  font-size: 20px;
  font-weight: 500;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
  margin-bottom: 90px;
}
.contact .form-container form {
  text-align: center;
  background-color: whitesmoke;
  width: 90%;
  max-width: 750px;
  margin: 10px auto;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  border-radius: 10px;
}
.contact .form-container form label {
  color: #666;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 10px 0px;
  display: block;
  padding: 10px 10px;
  text-align: left;
}
.contact .form-container form input {
  color: #333;
  padding: 20px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 13px;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}
.contact .form-container form textarea {
  color: #333;
  padding: 20px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 13px;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
  resize: none;
  margin-bottom: 30px;
}
.contact .form-container form .form-btn {
  width: 70%;
  max-width: 250px;
  padding: 20px 50px;
  background-color: #cc0000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 5px;
  margin: 10px auto;
  transition: ease 0.2s;
  border: 1px solid whitesmoke;
}

@media only screen and (min-width: 1024px) {
  .contact {
    background-color: #e5dfdf;
    padding: 50px 0px;
    font-family: "Source Sans 3", sans-serif;
  }
  .contact .contact-main-info {
    width: 70%;
    margin: 10px auto;
    max-width: 850px;
    text-align: center;
  }
  .contact .contact-main-info .contact-title {
    font-weight: 800;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3rem;
    color: #111;
    border-bottom: 3px solid #aa0000;
    display: inline-block;
    width: auto;
  }
  .contact .contact-main-info .contact-p {
    text-align: center;
    color: #555;
    font-size: 20px;
    font-weight: 500;
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
    margin-bottom: 90px;
  }
  .contact .form-container form {
    background-color: whitesmoke;
    width: 90%;
    max-width: 750px;
    margin: 10px auto;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    border-radius: 10px;
  }
  .contact .form-container form label {
    color: #666;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 10px 0px;
    display: block;
    padding: 10px 10px;
    text-align: left;
  }
  .contact .form-container form input {
    color: #333;
    padding: 20px;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 13px;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
  }
  .contact .form-container form textarea {
    color: #333;
    padding: 20px;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 13px;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    resize: none;
    margin-bottom: 30px;
  }
  .contact .form-container form .form-btn {
    width: 50%;
    max-width: 250px;
    padding: 20px 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 5px;
    margin: 10px auto;
    transition: ease 0.2s;
    border: 1px solid transparent;
  }
  .contact .form-container form .form-btn:hover {
    opacity: 0.7;
    border: 1px solid black;
  }
}/*# sourceMappingURL=Contact.css.map */